server:
  port: 8080

spring:
  output:
    ansi:
      enabled: always
  profiles:
    active: dev
  config:
    import:
      - "classpath:application-SECRET-KEY.yml"
      - "classpath:application-secret.yml"
  datasource:
    url: jdbc:mysql://127.0.0.1:3307/team_09_project1?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: root
    password: 1q2w3e4r
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      auto-commit: false
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 100

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.orm.jdbc.extract: TRACE
    org.springframework.transaction.interceptor: TRACE

custom:
  jwt:
    expire-seconds: 1800
    refresh-expire-seconds: 604800

file:
  upload-dir: src/main/resources/static/images
